.tsize-14{
	font-size: 14px;
}
.btn-apply{
	background-color: #f46113!important;
	border: none!important;
	border-radius: 30px!important;
	width: 100%!important;
	font-size: 15px!important;
    font-weight: bold!important;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}
.fs-11 {
	font-size: 11px;
}